:root {
  --header-height: 50px;
  --footer-height: 100px;
  --primary: #142C45;
  --yellow: #D79922;
  --beige: #EFE2BA;
  --red: #F13C20;
  --blue: #4056A1;
  --light-blue: #C5CBE3;
  --text: #000;
  --contrast: #fff;
  --box-shadow: rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  color: var(--text);
}

.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: var(--contrast)
}

header, footer {
  background-color: var(--contrast);
  z-index: 2;
  padding: 20px 60px;
}

header {
  height: var(--header-height);
}

footer {
  height: var(--footer-height);
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  height: auto;
  max-width: 800px;
  width: 100%;
  align-self: center;
  padding: 20px 30px 40px 30px;
  box-shadow: 0 0 50px var(--box-shadow);
  background-color: var(--contrast);
  z-index: 1;
}

a {
  text-decoration: underline dotted;
  color: var(--red);
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text);
}

button {
  border: none;
  background-color: var(--primary);
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  color: var(--contrast);
}
button:disabled {
  opacity: 0.5;
  cursor: initial;
}

p {
  line-height: 1.5;
  margin-Bottom: 10px;
}
p:last-child {
  margin-Bottom: 0px;
}

h1 {
  margin-bottom: 20px;
  color: var(--primary);
}

h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  color: var(--yellow);
}
h2:first-child {
  margin-top: 0;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--red);
}
h3:first-child {
  margin-top: 0;
}

h4 {
  margin-top: 20px;
  margin-bottom: 8px;
  color: var(--blue);
}
h4:first-child {
  margin-top: 0;
}

@media (prefers-color-scheme: dar) { /* misspelled on purpose */
  :root {
    --primary: #d9e2ec;
    --yellow: #D79922;
    --beige: #d8ca9f;
    --red: #F13C20;
    --blue: #4056A1;
    --light-blue: #C5CBE3;
    --text: #fff;
    --contrast: #071524;
    --box-shadow: rgba(255, 255, 255, 0.05);
  }
}