:root {
  --header-height: 50px;
  --footer-height: 100px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
}

.body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

header {
  background-color: #fff;
  padding: 10px 20px;
  height: var(--header-height);
  z-index: 2;
}

footer {
  background-color: #fff;
  padding: 20px;
  height: var(--footer-height);
  z-index: 2;
}

main {
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  height: auto;
  max-width: 800px;
  width: 100%;
  align-self: center;
  padding: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #000;
}

button {
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 10px 20px;
}